<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Mua bán sách truyện trực tuyến với hàng ngàn đầu sách đa dạng, dễ dàng tìm kiếm và đặt hàng trực tiếp.">
        <meta name="keywords" content="bán sách online, sách giáo khoa, truyện tranh Nhật Bản, sách thiếu nhi, truyện hot, tiểu thuyết">
        <link rel="stylesheet" href="../user/styles.css">
        <link rel="stylesheet" href="../user/fontawesome-free-6.6.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css">
        <title>Mua Sách & Truyện Online - Truyện Tranh, Tiểu Thuyết, Sách Giáo Dục</title>
    </head>
    <body>
        <div class="app">
            <header class="header">
                <div class="top">
                    <div class="left">HOTLINE:</div>
                    <div class="right">
                        <span class="register">Đăng ký</span>
                        <div class="separator">|</div>
                        <span class="login">Đăng nhập</span>
                    </div>
                </div>
                    <div class="mid">
                        <div class="logo">
                            <a href="">
                                <img src="https://a.storyblok.com/f/178900/960x417/1c74214dac/jnc-logo-resize.jpg/m/filters:quality(95)format(webp)" alt="">
                            </a>
                        </div>
                        <div class="search">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button type="submit">
                                <i class="fa-regular fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="cart">
                            <a href="">
                                <i class="fa-light fa-cart-shopping"></i>
                                <span>Giỏ hàng</span>
                            </a>
                        </div>
                    </div>
                <nav>
                    <div class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link" title="Trang chủ">
                                    <span>TRANG CHỦ</span>
                                </a>
                            </li>
                            <li class="header__navbar-item dropdown">
                                <a href="" class="header__navbar-item-link" title="Sản phẩm">
                                    <span>SẢN PHẨM</span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/collections/sach-trinh-tham-kinh-di" title="Trinh Thám - Kinh Dị">Trinh Thám - Kinh Dị</a>
                                    </li>
                                    <li>
                                        <a href="/collections/light-novel" title="Light Novel">Light Novel</a>
                                    </li>
                                    <li>
                                        <a href="/collections/van-hoc-truyen-tranh-viet-nam" title="Văn Học - Truyện Tranh Việt Nam">Văn Học - Truyện Tranh Việt Nam</a>
                                    </li>
                                    <li>
                                        <a href="/collections/van-hoc-hien-dai" title="Văn Học Hiện Đại">Văn Học Hiện Đại</a>
                                    </li>
                                    <li>
                                        <a href="/collections/van-hoc-kinh-dien" title="Văn Học Kinh Điển">Văn Học Kinh Điển</a>
                                    </li>
                                    <li>
                                        <a href="/collections/manga-comic" title="Manga - Comic">Manga - Comic</a>
                                    </li>
                                    <li>
                                        <a href="/collections/fantasy" title="Fantasy">Fantasy</a>
                                    </li>
                                    <li>
                                        <a href="/collections/sach-hoc-ngu" title="Sách Học Ngữ">Sách Học Ngữ</a>
                                    </li>
                                    <li>
                                        <a href="/collections/sach-thieu-nhi" title="Sách Thiếu Nhi">Sách Thiếu Nhi</a>
                                    </li>
                                    <li>
                                        <a href="/collections/phu-kien" title="Phụ Kiện">Phụ Kiện</a>
                                    </li>
                                    <li>
                                        <a href="/collections/combo-sach" title="Combo Sách">Combo Sách</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link" title="Tin tức">
                                    <span>TIN TỨC</span>
                                </a>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link" title="Liên hệ">
                                    <span>LIÊN HỆ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div class="container">
                <div class="slideshow-container">
                    <div class="mySlides">
                        <img class="slideshow-image" src="https://scontent.fsgn2-9.fna.fbcdn.net/v/t1.6435-9/52287133_1922174034571749_7892841514160619520_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=2a1932&_nc_eui2=AeFF3DL6rVdvFKfnli1LUS13JyPmNpDDRFAnI-Y2kMNEUFbc1bAJKEU49pC5F2z4mED2VCwB6Fv9nD0-ZtkeMMJx&_nc_ohc=qI8mjDVQyjkQ7kNvgFNOD02&_nc_zt=23&_nc_ht=scontent.fsgn2-9.fna&_nc_gid=AK-Q9XBBDke84jz1CKr2mIW&oh=00_AYBT9iHaazaawKtyGB4eeju7x9GQaj4VL1y8EK8u7JHbJQ&oe=67406D87" alt="Slide 1">
                    </div>
                    <div class="mySlides">
                        <img class="slideshow-image" src="https://theme.hstatic.net/200000287623/1000948667/14/slideshow_2.jpg?v=461" alt="Slide 2">
                    </div>
                    <div class="mySlides">
                        <img class="slideshow-image" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/313302108_485391303634119_6337434444619792500_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeEpzx-c5VpurknNN-WSxW6RNpJT5lNV7s02klPmU1XuzQFGRzojwvwzKoPrp-dVxyr1IYruwAmQ2_vXg8YRAu2W&_nc_ohc=eRxz55vilLYQ7kNvgESQtiw&_nc_zt=23&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=A2DLwQ6xb8kU4ZB7WtaM-FA&oh=00_AYBpzAbuxBQktz2u-EePpMBn6j-UAgmcILlSJO2IaUXQ2Q&oe=671ED723" alt="Slide 3">
                    </div>
            
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <div class="content">
                    <div class="category-1">
                        <div class="category-header">SÁCH MỚI</div>
                        <div class="product">
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/van-hao-ln-1_8d82652351174143a90b9a27d9ad14a8_master_7ca15a8ff4d0407487f904c3ed08e6ca_large.jpg" alt="">
                                    <h3 class="name-product">Combo Văn Hào Lưu Lạc (Light Novel) - 1 Đến 5</h3>
                                    <p class="price-product">377,400 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/phep_mau_o_ga_nishi-yuigahama_-_bia1_46fbb580a679436695be10a8b42054a5_large.jpg" alt="">
                                    <h3 class="name-product">Phép Mầu Ở Ga Nishi-Yuigahama</h3>
                                    <p class="price-product">80,300 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/khe_hat_loi_yeu_8_-_bia_1_5d977fdd6b6148d28b68d67c8f1164cf_large.jpg" alt="">
                                    <h3 class="name-product">Khẽ Hát Lời Yêu - 8</h3>
                                    <p class="price-product">55,900 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/lop_hoc_7.5_-_bia_1_5897227aac464191aaffd11aa6e70110_large.jpg" alt="">
                                    <h3 class="name-product">Chào Mừng Đến Lớp Học Đề Cao Thực Lực - 7.5</h3>
                                    <p class="price-product">264,000 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/cuon_tranh_ky_bi_box_bia_1_9812976bc95e41eba30c5b1f4fb4644d_large.png" alt="">
                                    <h3 class="name-product">Cuộn Tranh Kỳ Bí (Boxset Manga 2 Tập)</h3>
                                    <p class="price-product">140,800 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/86_vol_11_bia_1_3ed69c8ef5df47d7acad4504f7abb5dc_large.jpg" alt="">
                                    <h3 class="name-product">86 - Eightysix - 11</h3>
                                    <p class="price-product">102,950</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/sugia_bia_1_992b72813f534d0889c388e502a86ccf_large.jpg" alt="">
                                    <h3 class="name-product">Sứ Giả - Kết Nối Những Tâm Tư Bỏ Ngỏ</h3>
                                    <p class="price-product">75,600 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/oshi_no_ko_9_-_bia1_1__e0e30e057daf460b8ea8f1f7273072f4_large.jpg" alt="">
                                    <h3 class="name-product">Oshi no Ko - Dưới Ánh Hào Quang - 9</h3>
                                    <p class="price-product">75,680 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/hac_quan_gia_14_bia_1_3cd66da33e8640739a9044797504ae79_large.jpg" alt="">
                                    <h3 class="name-product">Hắc Quản Gia - 14</h3>
                                    <p class="price-product">49,880 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/z5835134769482_267743fe69f492d850c7b656a6e9f0f0_017e5828bd444d63ad91a187892891b6_large.jpg" alt="Có Thứ Muốn Ăn Thịt Tôi - 1">
                                    <h3 class="name-product">Có Thứ Muốn Ăn Thịt Tôi - 1</h3>
                                    <p class="price-product">101,200 VNĐ</p>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="more">Xem Thêm</a>
                        <div class="space"></div>
                    </div>
                    <div class="category-2">
                        <div class="category-header">SÁCH BÁN CHẠY</div>
                        <div class="product">
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/van-hao-ln-1_8d82652351174143a90b9a27d9ad14a8_master_7ca15a8ff4d0407487f904c3ed08e6ca_large.jpg" alt="">
                                    <h3 class="name-product">Combo Văn Hào Lưu Lạc (Light Novel) - 1 Đến 5</h3>
                                    <p class="price-product">377,400 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/phep_mau_o_ga_nishi-yuigahama_-_bia1_46fbb580a679436695be10a8b42054a5_large.jpg" alt="">
                                    <h3 class="name-product">Phép Mầu Ở Ga Nishi-Yuigahama</h3>
                                    <p class="price-product">80,300 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/khe_hat_loi_yeu_8_-_bia_1_5d977fdd6b6148d28b68d67c8f1164cf_large.jpg" alt="">
                                    <h3 class="name-product">Khẽ Hát Lời Yêu - 8</h3>
                                    <p class="price-product">55,900 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/lop_hoc_7.5_-_bia_1_5897227aac464191aaffd11aa6e70110_large.jpg" alt="">
                                    <h3 class="name-product">Chào Mừng Đến Lớp Học Đề Cao Thực Lực - 7.5</h3>
                                    <p class="price-product">264,000 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/cuon_tranh_ky_bi_box_bia_1_9812976bc95e41eba30c5b1f4fb4644d_large.png" alt="">
                                    <h3 class="name-product">Cuộn Tranh Kỳ Bí (Boxset Manga 2 Tập)</h3>
                                    <p class="price-product">140,800 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/86_vol_11_bia_1_3ed69c8ef5df47d7acad4504f7abb5dc_large.jpg" alt="">
                                    <h3 class="name-product">86 - Eightysix - 11</h3>
                                    <p class="price-product">102,950</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/sugia_bia_1_992b72813f534d0889c388e502a86ccf_large.jpg" alt="">
                                    <h3 class="name-product">Sứ Giả - Kết Nối Những Tâm Tư Bỏ Ngỏ</h3>
                                    <p class="price-product">75,600 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/oshi_no_ko_9_-_bia1_1__e0e30e057daf460b8ea8f1f7273072f4_large.jpg" alt="">
                                    <h3 class="name-product">Oshi no Ko - Dưới Ánh Hào Quang - 9</h3>
                                    <p class="price-product">75,680 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/hac_quan_gia_14_bia_1_3cd66da33e8640739a9044797504ae79_large.jpg" alt="">
                                    <h3 class="name-product">Hắc Quản Gia - 14</h3>
                                    <p class="price-product">49,880 VNĐ</p>
                                </a>
                            </div>
                            <div class="info-product">
                                <a href="">
                                    <img class="img-product" src="https://product.hstatic.net/200000287623/product/z5835134769482_267743fe69f492d850c7b656a6e9f0f0_017e5828bd444d63ad91a187892891b6_large.jpg" alt="Có Thứ Muốn Ăn Thịt Tôi - 1">
                                    <h3 class="name-product">Có Thứ Muốn Ăn Thịt Tôi - 1</h3>
                                    <p class="price-product">101,200 VNĐ</p>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="more">Xem Thêm</a>
                        <div class="space"></div>
                    </div>
                    <div class="category-3">
                        <div class="category-header">BÀI VIẾT MỚI</div>
                        <div class="post-container">
                            <div class="owl-item">
                                <div class="review-item">
                                    <div class="post">
                                        <div class="post-img">
                                            <a href="">
                                                <img src="https://file.hstatic.net/200000287623/article/456100341_938822808290964_7394982604345935159_n_08428383a253403880be311bff4d1ab9_large.jpg" class="" alt="Trần Gian Ở Lại và những luyến lưu về tình yêu nơi trần thế">
                                            </a>
                                        </div>
                                        <div class="blog_deatail">
                                            <p class="review">
                                                <a href="">Top Sách Phát Triển Bản Thân Nên Đọc Năm 2024</a>
                                            </p>
                                            <div class="info">
                                                Đặc biệt với những ai yêu thích sách tự lực, bạn có thể tổng hợp các tựa sách giúp người đọc phát triển kỹ năng và tư duy tích cực...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="review-item">
                                    <div class="post">
                                        <div class="post-img">
                                            <a href="">
                                                <img src="https://file.hstatic.net/200000287623/article/mock_up_sach_5178b235353c4680846677e19ab00662_large.png" class="" alt="">
                                            </a>
                                        </div>
                                        <div class="blog_deatail">
                                            <p class="review">
                                                <a href="">Điểm danh những tiểu thuyết trinh thám - kinh dị hấp dẫn, mỏng nhẹ dưới 300 trang</a>
                                            </p>
                                            <div class="info">
                                                Có những ngày muốn đọc sách mà phân vân không biết nên đọc cuốn nào, vì sợ rằng không đủ thời gian để đọc hết? Hay chỉ đơn giản bạn là một người đọc muốn giữ nhịp độ đọc từ đầu đến cuối, không muốn đọc ngắt quãng chút nào?
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="owl-item">
                                <div class="review-item">
                                    <div class="post">
                                        <div class="post-img">
                                            <a href="">
                                                <img src="https://file.hstatic.net/200000287623/article/3_c09cd33a348d41148b49a92437575752_large.png" class="" alt="">
                                            </a>
                                        </div>
                                        <div class="blog_deatail">
                                            <p class="review">
                                                <a href="">Điểm danh những cuốn truyện tranh có dung lượng KHỦNG trên 400 trang!</a>
                                            </p>
                                            <div class="info">
                                                Là một tập truyện ngắn được viết rải rác trong nhiều năm, tập truyện ngắn mới nhất của Giác -&nbsp;Trần Gian Ở Lại&nbsp;đã xuất sắc mô tả vẻ muôn hình vạn trạng của tình yêu và ...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="footer-content">
                    <div class="footer-info">
                        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                        <p>Câu hỏi thường gặp</p>
                        <p>Điều khoản dịch vụ</p>
                    </div>
                    <div class="footer-info">
                        <h4>CHÍNH SÁCH</h4>
                        <p>Chính sách bảo mật</p>
                        <p>Chính sách đổi trả</p>
                    </div>
                    <div class="footer-info">
                        <h4>THÔNG TIN LIÊN HỆ</h4>
                        <p>Hotline: 0984 0249 901</p>
                        <p>Email: 1150080154@sv.hcmunre.edu.vn</a></p>
                    </div>
                    <div class="footer-info">
                        <h4>ĐĂNG KÝ NHẬN TIN</h4>
                        <input type="email" class="email-input" placeholder="Nhập email của bạn">
                        <button class="submit-button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </footer>

            <script>
                let slideIndex = 1;
                showSlides(slideIndex);

                // Tự động chuyển ảnh mỗi 3 giây
                setInterval(() => {
                    plusSlides(1);
                }, 3000); // 3000 ms = 3 giây

                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }

                function currentSlide(n) {
                    showSlides(slideIndex = n);
                }

                function showSlides(n) {
                    let i;
                    const slides = document.getElementsByClassName("mySlides");
                    
                    if (n > slides.length) { slideIndex = 1 }
                    if (n < 1) { slideIndex = slides.length }
                    
                    for (i = 0; i < slides.length; i++) {
                        slides[i].classList.remove("show"); // Xóa lớp show
                        slides[i].style.opacity = 0; // Đặt opacity về 0 trước khi hiển thị slide mới
                    }
                    
                    // Sử dụng setTimeout để thêm lớp show sau khi opacity đã được đặt về 0
                    setTimeout(() => {
                        slides[slideIndex - 1].classList.add("show"); // Thêm lớp show
                        slides[slideIndex - 1].style.opacity = 1; // Đặt opacity thành 1
                    }, 100); // Thay đổi thời gian chờ nếu cần
                }
            </script>
        </div>
    </body>
</html>