html, body {
    width: 100%;
    min-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.top {
    position: relative;
    height: 50px;
    background-color: #007bff;
    color: white;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    padding: 0 155px;
    align-items: center;
    font-size: 16px;
}

@media screen and (max-width: 1500px) {
    .top {
        padding: 0 100px;
    }
}
  
.top .left {
    margin: 0 10px;
    font-weight: bold;
}
  
.top .right span {
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}
  
.top .right {
    font-weight: normal; /* Định dạng dấu phân cách */
    color: white; /* Màu sắc của dấu phân cách */
}

.separator {
    display: inline-block;
    font-weight: normal; /* Định dạng dấu phân cách */
    color: white; /* Màu sắc của dấu phân cách */
    font-size: 20px; /* Điều chỉnh kích thước nếu cần */
}

/* Hiệu ứng hover cho "Đăng ký" và "Đăng nhập" */
.register:hover,
.login:hover {
    text-decoration: none; /* Hiệu ứng hover, ví dụ: gạch chân */
    color: #7a9abd; /* Thay đổi màu khi hover */
}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 10%; /* Giảm padding để tránh tràn */
    flex-wrap: wrap; /* Cho phép xuống dòng khi thu nhỏ */
}

.logo img {
    max-height: 60px;
    max-width: 100%; /* Đảm bảo ảnh không vượt quá khung */
    height: auto;
    margin-right: 20px;
}

.search {
    height: 45px;
    flex: 1; /* Cho phép search bar co giãn */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 25px;
    max-width: 600px;
    min-width: 150px; /* Tránh bị mất hoàn toàn */
}

.search input {
    display: block;
    padding: 0 15px;
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #333;
}

.search button {
    display: flex; /* Sử dụng flex để căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    height: 100%; /* Chiều cao bằng chiều cao của khung search */
    border-radius: 0 25px 25px 0; /* Bo tròn góc phải của button */
    background-color: #007bff; /* Màu nền cho button */
    border: none; /* Không có viền */
    color: #ffffff; /* Màu chữ của button */
    font-size: 20px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ chuột khi di chuột qua */
    padding: 0 20px; /* Padding bên trái và bên phải cho button */
}

.cart {
    white-space: nowrap; /* Giữ cart trên một dòng */
    margin-left: 20px;
}

/* Khi thu nhỏ màn hình */
@media screen and (max-width: 1024px) {
    .mid {
        position: relative;       /* Cho phép định vị tuyệt đối các phần tử con nếu cần */
        text-align: center;       /* Giúp căn giữa logo */
        padding: 10px 0;          /* Điều chỉnh khoảng cách */
        display: block;           /* Loại bỏ flex nếu không cần cho bố cục nhỏ */
        width: 100%;
    }
    
    .logo {
        display: inline-block;
        vertical-align: middle;
    }
    
    /* Cập nhật .search sử dụng flex để các thành phần bên trong không bị tách riêng */
    .search {
        display: flex;
        width: 80%;               /* Điều chỉnh độ rộng theo ý muốn */
        margin: 20px auto 0;      /* Căn giữa và tạo khoảng cách phía trên */
        justify-content: center;  /* Căn giữa các phần tử bên trong */
        align-items: center;      /* Căn chỉnh theo chiều dọc */
    }

    .search button {
        padding: 10px 15px;
    }

    .cart {
        position: absolute;
        right: 15px;              /* Điều chỉnh khoảng cách bên phải */
        top: 15px;
    }
      
    .cart span {
        display: none;
    }
}


/* Định dạng cho màn hình nhỏ hơn */
@media screen and (max-width: 768px) {
    .mid {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 90%; /* Để search bar co giãn theo chiều ngang */
        height: 45px; /* Giữ nguyên chiều cao */
    }


    .cart span {
        display: none;
    }
}

.cart a {
    text-decoration: none;
    align-items: center;
    color: #333;
}

.cart i {
    font-size: 25px; /* Cart icon size */
    margin-right: 5px; /* Space between icon and text */
    color: #007bff;
}

.cart span {
    font-weight: bold;
    font-size: 20px; /* Font size for cart text */
}


.header__navbar {
    display: flex;
    justify-content: center; /* Căn giữa phần tử trong nav */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.header__navbar-list {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 1170px;
    height: 49px;
    padding: 0;
    margin: 0;
    margin-top: 1.5px;
}

.header__navbar-item {
    position: relative;
    display: inline-block;
}

.header__navbar-item-link {
    display: block;
    font-size: 17px; /* Kích thước chữ */
    font-weight: bold; /* In đậm chữ */
    color: #333; /* Màu chữ */
    text-decoration: none; /* Xóa gạch chân */
    padding: 15px 15px; /* Khoảng cách bên trong */
    transition: color 0.3s,
}

.header__navbar-item-link:hover {
    color: #007bff; /* Màu chữ khi hover */
}

/* Ẩn menu mobile và nút menu trên màn hình lớn */
.menu-toggle,
.mobile-menu,
.category-submenu {
    display: none;
}

/* Hiển thị menu icon và mobile menu khi ở màn hình nhỏ */
@media screen and (max-width: 1024px) {
    /* Ẩn top header */
    .top {
        display: none;
    }

    /* Ẩn navbar desktop */
    .header__navbar {
        display: none;
    }

    /* Hiển thị menu icon (3 gạch ngang) */
    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #007bff;
        position: absolute;
        left: 20px;
        top: 15px;
        z-index: 1001;
    }

    /* Hiển thị menu mobile */
    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -250px; /* Đẩy menu ra ngoài màn hình khi ẩn */
        width: 250px;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out;
        /* Giảm padding-top để header của menu không bị đẩy xuống */
        padding-top: 0;
        z-index: 1000;
    }

    .category-submenu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -250px; /* Đẩy menu ra ngoài màn hình khi ẩn */
        width: 250px;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out;
        /* Giảm padding-top để header của menu không bị đẩy xuống */
        padding-top: 0;
        z-index: 1000;
    }

    /* Khi menu được mở */
    .mobile-menu.active {
        left: 0;
    }
    
    .category-submenu.active {
        left: 0;
    }

    .mobile-menu a {
        padding: 15px;
        text-align: left;
        text-decoration: none;
        color: #333;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    .category-submenu a {
        padding: 15px;
        text-align: left;
        text-decoration: none;
        color: #333;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    /* Nút đóng menu */
    .close-menu {
        font-size: 24px;
        color: #007bff;
        cursor: pointer;
        text-align: right;
        padding: 10px 15px;
    }

    .close-submenu {
        font-size: 24px;
        color: #007bff;
        cursor: pointer;
        text-align: right;
        padding: 10px 15px;
    }
}


.container {
    width: 100%;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 713px;
    overflow: hidden;
    margin-bottom: 50px;
}

.mySlides {
    display: none;
    width: 100%;
    transition: opacity 2s ease-out-in; /* Thêm hiệu ứng chuyển tiếp */
    opacity: 0; /* Ảnh bắt đầu với độ mờ 0 */
}

.mySlides.show {
    display: block; /* Hiện ảnh */
    opacity: 1; /* Đặt độ mờ thành 1 */
}

.slideshow-image {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.my-container {
    margin: auto;
}

.col.pb-5 {
    max-width: 1250px;
}

.my-product-grid {
    display: inline-block; /* Giúp container co lại theo nội dung bên trong */
    text-align: center;
    max-width: 100%; /* Đảm bảo không vượt quá cha */
    margin: auto; /* Căn giữa trong cha */
    white-space: normal; /* Đảm bảo sản phẩm xuống dòng khi hết chỗ */
}

.info-product {
    display: inline-block;
}

.product-row {
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: block;
    justify-items: center;
    overflow-x: auto;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-header {
    display: flex;
    width: 100%;
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: bold;
    justify-content: center;
    color: #333;
}
/*
.info-product {
    width: 210px;
    height: 411px;
    margin: 15px;
    background: #ffffff;
    padding-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 8px;
}
*/

.info-product a {
    text-decoration: none;
    color: #333;
}

.info-product:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.img-product {
    width: 210px;
    height: 336px;
    object-fit: cover;
    border-radius: 8px 8px 0 0; /* Bo tròn góc trên của hình ảnh */
}

.name-product {
    max-width: 210px;
    padding: 0 20px;
    padding-top: 5px;
    white-space: nowrap;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0;
    flex-grow: 1;
}

.price-product {
    margin-top: 0;
    color: #333;
}
.info-product:hover .add-to-cart {
    opacity: 1;
}
.grid_sorting_button.active {
    color: #007bff;
    font-weight: bold;
    text-decoration: underline 2px #007bff;
    text-underline-offset: 15px;
}
.grid_sorting_button:hover {
    color: #007bff;
}

.row.mb-8 {
    max-width: 100%; /* Giới hạn chiều rộng của row */
    overflow-x: hidden; /* Nếu không muốn cuộn ngang trên toàn bộ row */
}
.new_arrivals_sorting {
    overflow-x: auto;
    width: 100%;
}

.more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.more:hover {
    background-color: #599fe9;
}


.post-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap; /* Cho phép các bài viết xuống dòng */
    justify-content: space-between; /* Khoảng cách giữa các bài viết */
}

.owl-item {
    flex: 1 1 calc(33.333% - 20px); /* Chiều rộng mỗi mục */
    padding: 10px; /* Khoảng cách giữa các mục */
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
}

.review-item {
    background: #fff; /* Nền trắng cho mỗi bài viết */
    border-radius: 8px; /* Bo tròn các góc */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    overflow: hidden; /* Ẩn nội dung tràn ra ngoài */
    transition: transform 0.3s; /* Hiệu ứng khi hover */
}

.review-item:hover {
    transform: translateY(-5px); /* Nâng lên khi hover */
}

.review-item {
    cursor: pointer;
}

.post-img img {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
    height: auto; /* Giữ tỷ lệ hình ảnh */
    display: block;
}

.blog_deatail {
    padding: 15px 8px 30px; /* Padding cho nội dung bài viết */
    text-align: center;
}

.review {
    margin-top: 0;
    font-size: 1.2em; /* Kích thước font tiêu đề */
    margin-bottom: 15px; /* Khoảng cách dưới tiêu đề */
}

.review a {
    text-decoration: none; /* Bỏ gạch chân */
    color: #333; /* Màu chữ */
}

.info {
    font-size: 0.9em; /* Kích thước font cho thông tin bổ sung */
    color: #666; /* Màu chữ nhẹ hơn */
}

/* Responsive styles */
@media (max-width: 768px) {
    .owl-item {
        margin: 20px;
        flex: 1 1 100%;
    }
}


footer {
    background: #555555;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.footer-info {
    flex: 0 1 25%;
    margin: 0 15px;
}

.footer-info h4 {
    margin: 0 0 10px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info .email-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: calc(100% - 20px);
}

.footer-info .submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff; 
    cursor: pointer;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none; /* Hidden on larger screens */
}

